*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --frst-color: #2c2e2f;
    --sec-color: #3c4043;
    --thr-color: #8495a6;
    --frth-color: #c2f8cb;
    --ffth-color: #eaefef;
    --shadow-color: rgba(37, 43, 81, 0.7624183462447479);
}

body {
    margin: 0;
    padding: 0;
    background: #b0b0b0;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    background: rgb(12, 14, 27);
    background: linear-gradient(90deg, rgba(12, 14, 27, 1) 0%, rgba(37, 43, 81, 0.7624183462447479) 100%);
    color: var(--sec-color);
    position: fixed;
    width: 100%;
    top: 0;
    height: 5rem;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    height: 4.5rem;
    justify-content: space-between;
    margin-bottom: 0;
}

#logo{
    z-index: 2;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
}
#burger, #remove-nav {
    color: var(--frth-color);
    font-size: 2.5rem;
    z-index: 2;
    position: absolute;
    right: 1rem;
    top: 1rem;
    animation: fadeIn 2s ease-in-out;
}

#remove-nav{
    display: none;
    top: 2.5rem;
    
}


nav {
   opacity: 0.9;
    position: absolute;
    background: #222;
    transition: transform 550ms ease-in-out;
    transform: translateY(-60rem);
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    box-shadow: 0px 1px 2px rgba(155, 196, 186, 0.5), 0px 2px 4px rgba(155, 196, 186, 0.5), 0px 4px 8px rgba(155, 196, 186, 0.5), 0px 8px 16px rgba(6, 216, 248, 0.5);
    top: 4.35rem;
    width: 100%;   
}


.menu-active{
    transform: translateY(0);
}

ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
padding: 0;
}

nav>ul>li {
    
    border-radius: 5px;
    transition: all ease 0.2s;
    margin-bottom: 0.3rem;
    width: 6rem;
}

ul>li>a {
    text-decoration: none;
    margin-left: 0.4rem;
    line-height: 43px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--frth-color);
    border-radius: 5px;
    
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#secIntro {
    background: linear-gradient(90deg, rgba(12, 14, 27, 1) 0%, rgba(37, 43, 81, 0.7624183462447479) 100%);
    padding: 2rem;
}
#secIntro::after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vw;
    opacity: .4;
    background: url("bg.png");
}

#bid{
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: #eaefef;
    padding: 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid var(--frth-color);
    color: var(--frth-color);
    font-weight: bold;
    box-shadow: inset 0px 2px 5px 1px var(--frth-color);

}
#bid:hover{
    transform: translateY(3px);
    box-shadow: inset 0px 2px 5px 1px var(--ffth-color);
    color: var(--ffth-color);
    border: 1px solid var(--ffth-color);
}

h1 {
    text-align: center;
    font-size: 2rem;
    color: var(--ffth-color);
}
h3{
    margin: 0;
}
h3, h4{
    color: var(--ffth-color);
}
h4{
    font-size: 1rem;
    font-weight: 400;
}

p {
    margin: 0;
    color: #eaefef;
    letter-spacing: 0.03rem;
}
 img{
    margin: 1rem auto;
    height: 1.7rem;
 }

.respoPhone{
    height: 20rem;
margin: 0 auto;
display: block;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
        width: 1.5rem;
    }

    50% {
        transform: rotate(180deg);
        width: 2.5rem;
    }

    100% {
        transform: rotate(360deg);
        width: 1.5rem;
    }
}

svg {
    width: 2rem;
    display: block;
    margin: 0 auto;
    animation: rotate 6s infinite;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

path {
    fill: #60c1d3;
}

.hideCard {
    animation: fadeOut 2.7s ease;
    animation-iteration-count: 1
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rot {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(180deg);
    }
}

.flipCard {
    animation: rot 4s ease-in-out;
}

.resPic{
    width: 200px;
    height: 400px;
}

#offer{
    background: #a5a8ac;
}
.offerContainer{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.offerTitle{
    text-align: center;
    color: #272a3d;
}

.cardBox{
    display: flex;
    flex-direction: column;
}
.cards{
    width: 70%;
    padding: 2rem;
    box-shadow: inset 1px 3px 5px var(--frth-color);
    margin: 1rem auto;
    background: #454963;
    text-align: center;
    height: 13rem;
}
#jobs{
    background: var(--frth-color);
padding: 1rem;
}
.jobsText{
    color: var(--shadow-color);
}
.mockupBox{
    display: flex;
}
.mockups{
    height: 16rem;
}